# Sanity CMS (BLOK 3)
# Olish uchun: https://www.sanity.io/manage da loyiha yarating
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-01

# Yashirin token — faqat draft preview yoki write uchun (hozir ishlatilmaydi)
SANITY_API_READ_TOKEN=
